@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-lg;
  }
  p {
    @apply font-light;
  }
}

body {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #f1f5f9;
}

th {
  background-color: #f3f7ff;
  color: #6d6b9f;
  white-space: nowrap;
}
tr {
  color: #6d6b9f;
}
td {
  white-space: nowrap;
  background-color: white;
  color: #616161;
  border-bottom: 1px solid #d8d8d8;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 452px;
  display: inline-block;
  vertical-align: bottom;
}
.show-more {
  cursor: pointer;
  font-size: 10px;
  margin-left: 5px;
}
